html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
}
.nav-section {
  margin: 0 auto;
  width: 1400px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 123px;
  padding-bottom: 64px;
}

.logo-link {
  padding-right: 557px;
  padding-left: 1px;
  text-decoration: none;
}

.nav {
  display: inline;
}

.nav-link {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.06em;
  color: #121212;
  text-decoration: none;
  margin-right: 60px;
  padding-bottom: 2px;
}

.nav-link:nth-last-child() {
  padding-right: 0px;
}

.nav-link:hover {
  border-bottom: 1px solid #000000;
  color: #121212;
  opacity: 50%;
}

.main_block {
  margin: 0 auto;
  width: 1400px;
  box-sizing: border-box;
  padding-left: 125px;
  padding-bottom: 151px;
}

h1 {
  font-size: 60px;
  line-height: 60px;
  width: 956px;
  color: #121212;
  letter-spacing: -0.03em;
  padding-top: 5px;
}

.interior {
  position: relative;
  margin-top: 31px;
  height: 500px;
  width: 1150px;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
  background-image: url(chair.png);
}

.image-text {
  width: 430px;
  position: absolute;
  left: 40px;
  bottom: 40px;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: -0.03em;
}

.about {
  margin: 0 auto;
  width: 1400px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 124px;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  color: #121212;
  letter-spacing: -0.01em;
  padding-bottom: 31px;
  text-align: left;
}
.about_title {
  font-size: 45px;
  line-height: 61px;
  color: #121212;
  width: 1048px;
  text-align: left;
  letter-spacing: -0.03em;
  padding-left: 4px;
}
.about_btn {
  display: block;
  border-radius: 5px;
  height: 67px;
  width: 255px;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: #ffffff;
  background-color: #ad1818;
  font-size: 20px;
  letter-spacing: -0.03em;
  margin-top: 30px;
}
.about_btn:hover {
  color: #ffffff;
  background-color: #ad1818;
  cursor: pointer;
}

.projects {
  margin: 0 auto;
  width: 1400px;
  box-sizing: border-box;
  background: #ffffff;
  padding-top: 151px;
  padding-left: 125px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  letter-spacing: -0.03em;
  padding-bottom: 28px;
}

.project_item {
  margin: 0 auto;
  padding-bottom: 90px;
  box-sizing: border-box;
  background: #ffffff;
}

.project_text {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #121212;
  padding-top: 15px;
  padding-bottom: 15px;
}

.project_link {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #ad1818;
  text-decoration: none;
}

.project_wrapper {
  width: 1150px;
  padding-bottom: 150px;
}

.project_btn {
  display: block;
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ad1818;
  background-color: #ffffff;
  padding-top: 56px;
  padding-bottom: 54px;
}

.project_btn:hover {
  color: #ffffff;
  background-color: #ad1818;
  cursor: pointer;
}

.services_wrapper {
  background: #121212;
  width: 100%;
  margin: 0 auto;
  height: 1844px;
}
.services {
  width: 1150px;
  margin: 0 auto;
  box-sizing: border-box;
}

h4 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding-top: 152px;
  padding-bottom: 35px;
  padding-left: 2px;
}

.service_item {
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 61px;
  padding-left: 1px;
}

.service_text {
  margin-left: 4px;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.03em;
  color: #ffffff;
  padding-top: 15px;
}

.two_room_apartments_wrapper {
  height: 718px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0.52%,
      rgba(0, 0, 0, 0.4) 82.81%
    ),
    url(image.png);
  background-image: url(two_room_apartments.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.two_room_apartments {
  margin: 0 auto;
  width: 1400px;
}

.bedroom {
  width: 443px;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.033em;
  color: #ffffff;
  padding-top: 577px;
  padding-left: 126px;
}

.contacts_wrapper {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

.contacts_wrapper:before {
  content: "";
  display: block;
  position: absolute;
  height: 22px;
  width: 14px;
  background-image: url(phone-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  left: 125px;
  top: 152px;
}

h5 {
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  letter-spacing: -0.03em;
  padding-top: 187px;
  padding-left: 124px;
  padding-bottom: 32px;
}
.phone_number {
  padding-bottom: 28px;
  padding-left: 124px;
}
.cellphone {
  font-size: 60px;
  line-height: 58px;
  letter-spacing: -0.01em;
  color: #121212;
  text-decoration: none;
}

.e-mail {
  padding-bottom: 160px;
  padding-left: 125px;
  padding-top: 4px;
}

.mail {
  font-size: 60px;
  line-height: 58px;
  letter-spacing: -0.03em;
  color: #121212;
  opacity: 50%;
  text-decoration: none;
}

.mail:hover {
  border-bottom: 2px solid #121212;
}

footer {
  height: 229px;
  background-color: #121212;
}

.links_wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 460px;
  padding-top: 62px;
  padding-bottom: 87px;
  padding-left: 1px;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.link:nth-child(1) {
  padding-right: 53px;
}

.link:nth-child(2) {
  padding-right: 56px;
}

.link:nth-child(3) {
  padding-right: 55px;
}

.design_studio {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: -0.03em;
  opacity: 50%;
  padding-left: 26px;
  padding-right: 20px;
  padding-top: 1px;
}

.link:hover {
  text-decoration: none;
  opacity: 50%;
}
