body {
font-family: 'Manrope', sans-serif;
width: 100%;
background: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding-top: 128px;
    padding-left: 125px;
    padding-bottom: 150px;
}

.container-red {
    margin: 0 auto;
    width: 1400px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding-left: 125px;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: left;
    height: 120px;
    width: 956px;
    color: #121212;
    letter-spacing: -0.03em;
}
.image-text {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color:#FFFFFF;
    width: 430px;
    padding-left: 40px;
    padding-top: 379px;
    letter-spacing: -0.03em;
}
    
.chair {
    margin-top: 30px;
    height: 500px;
    width: 1150px;
    background-image: url(../resources/chair.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(chair.png);
}
h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #121212;
    letter-spacing: -0.03em;
    padding-bottom: 30px;
    text-align: left;
}
h3 {
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    color: #121212;
    width: 1048px;
    padding-bottom: 30px;
    text-align: left;
    letter-spacing: -0.03em;
}
.container-red__button {
    display: block;
    border-radius: 5px;
    height: 67px;
    width: 255px;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #AD1818;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.container-red__button:hover {
    color: #FFFFFF;
    background-color: #AD1818;
    cursor: pointer;
}

.projects {
    margin: 0 auto;
    width: 1400px;
    box-sizing: border-box;
    background: #FFFFFF;
    padding-top: 150px;
    padding-left: 125px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #121212;
    letter-spacing: -0.03em;
    padding-bottom: 30px;
}

.right_bank {
    margin: 0 auto;
    box-sizing: border-box;
    background: #FFFFFF;
}

.right_bank__title {
    width: 501px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #121212; 
    padding-top: 15px;
    padding-bottom: 15px; 
}

.right_bank__link {
    width: 127px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
    cursor: pointer;
}

.norwegian_park {
    margin: 0 auto;
    margin-top: 90px;
    box-sizing: border-box;
    background: #FFFFFF;
}

.norwegian_park__title {
    width: 520px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #121212; 
    padding-top: 15px;
    padding-bottom: 15px; 
}

.norwegian_park__link {
    width: 127px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
    cursor: pointer;
}

.pine_lakes {
    margin: 0 auto;
    margin-top: 90px;
    box-sizing: border-box;
    background: #FFFFFF;
}

.pine_lakes__title {
    width: 542px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #121212; 
    padding-top: 15px;
    padding-bottom: 15px; 
}

.pine_lakes__link {
    width: 127px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
    text-decoration: none;
    cursor: pointer;
}

.projects_wrapper {
    width: 100%;
    box-sizing: border-box;
    padding-top: 90px;
    padding-right: 125px;
    border-radius: 5px;
    padding-bottom: 150px;
}

.projects_wrapper__button {
    display: block;
    border: 1px solid #AD1818;
    border-radius: 5px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #AD1818;
    background-color: #FFFFFF;
    padding-top: 56px;
    padding-bottom: 56px;
}

.projects_wrapper__button:hover {
    color: #FFFFFF;
    background-color: #AD1818;
    cursor: pointer;
}

.services {
    display:grid;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 1844px;
    background-color: #121212;
}

h5 {
    width: 66px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-left: 127px;
    padding-top: 151px;
}

.layout {
    margin: 0 auto;
    margin-left: 125px;
    margin-top: 34px;
    box-sizing: border-box;
}

.layout__title {
    width: 541px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 3px;
}

.design {
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 126px;
    box-sizing: border-box;   
}

.design__title {
    width: 405px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 3px;
}

.control {
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 127px;
    box-sizing: border-box;   
}

.control__title {
    width: 536px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 3px;
}

.equipment {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 150px;
    margin-left: 127px;
    box-sizing: border-box;   
}

.equipment__title {
    width: 661px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 3px;
}

